body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    min-block-size: 100vh;
}

main {
    min-height: 400px;
    flex-grow: 1;
    padding: 15px;
}

#section1 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
}

figure {
    display: flex;
    flex-direction: column;
    height: 80%;
}

fig-caption {
    text-align: center;
}

#section2 {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section a , #section2 a{
    background: plum;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000;
    color: rgb(90, 88, 88);

}


.accueil,
div h2 {
    color: cadetblue;
}

.accueil {
    text-align: center;
}

div p {
    padding: 15px;
    padding-top: 0px;
    text-align: justify;
    color: #ADCA48;
}
