footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: rgb(230, 223, 223);
    border: 2px grey solid;
    padding: 5px;
    font-family: cursive;
}

#artFooter1{
    display: flex;
    align-self: center;
}
article{
    color: cadetblue;
}
#artFooter3{
    display: flex;
    flex-direction: column;
    justify-content:  space-around;
}
#artFooter3 img {
    height: 50px;
   
}

#div1Foot2 .media{
    display: flex;
    justify-content: center;
    text-align: center;
}
#div2Foot2 {
    text-align : center;
}

h5{
    font-size: 1.15em;
    
}

#contact{
    font-size: 1.25em;
}