main img{
    max-width: 100px;
}
main div{
    display: flex;
    padding: 10px;
    padding-top: 0px;
    justify-content: space-around;
    text-align: justify;
    color: #ADCA48;
}
h1, h5 {
    color: cadetblue;
}
h1{
    text-align: center;
  

}
main{
    display: grid;
    grid-template-rows: 0.1fr .90fr;
    min-height: 500px;
    padding: 10px;
    font-family: cursive;
}

.article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
}

section button{
    background: plum;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000;
}