body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    min-block-size: 100vh;
}

main img{
    max-width: 100px;
}
main div{
    display: flex;
    padding: 15px;
    padding-top: 0px;
    justify-content: space-around;
    text-align: justify;
    color: #ADCA48;
}
h1, h5, article {
    color: cadetblue;
}
h1{
    text-align: center;
  }
main{
    display: flex;
    flex-grow: 1;
    display: grid;
    grid-template-rows: 0.1fr .90fr;
    min-height: 500px;
    padding: 10px;
    font-family: cursive;
    margin: 0;
}

.article{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
}

section button{
    background: plum;
    text-align: center;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #000;
    color:  rgb(90, 88, 88);
}