body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    min-block-size: 100vh;
}

main {
    min-height: 400px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
   justify-content: center;
   align-content: center;
}
form{
    max-width: 75%;
    
}
.form-group, button{
   margin-left: 40%;
}
