body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
    min-block-size: 100vh;
}

main {
    min-height: 400px;
    flex-grow: 1;
}
main p{
    text-align: justify;
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 0px;
    color: #ADCA48;
}
.blockquote-footer{
    text-align: right;
    padding-right: 15px;
}
h2{
    text-align: center;
    color: cadetblue;
  }