<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../lib/open-iconic-master/font/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <title>Vetiscore Calculator</title>
</head>

<body>
    <h1>ma page calculator</h1>

    <header id="header"></header>

    <main>

            <form>
                
                <div class="form-row align-items-center">
                     <div class="col-auto my-1">
                            <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right"
                            title="Tooltip on right">
                            Tooltip on right
                        </button>
                    </div>
                    <div class="col-auto my-1">
                            <label class="mr-sm-2 sr-only" for="inlineFormCustomSelect">Preference</label>
                            <select class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                              <option selected>Choose...</option>
                              <option value="1">One</option>
                              <option value="2">Two</option>
                              <option value="3">Three</option>
                            </select>
                     </div>
                     <div class="col-auto my-1">
                    
                     <div class="form-check">
                            <input class="form-check-input position-static" type="checkbox" id="blankCheckbox" value="option1"
                                aria-label="...">
                        </div>
                    </div>
                </div>
                    
                    
                       
                    </form>
                    
                    <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0"
                        aria-valuemax="100">25%</div>
                    </div>
    


    </main>
    <footer id="footer">

    </footer>


    <!--Ajouter les script au fur et à mesure de leur création-->
    <!-- <script src="lib/jquery.js"></script>
    <script src="lib/popper.js"></script>-->
    <!--<script src="lib/bootstrap/bootstrap-4.3.1-dist/js/bootstrap.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script type="module" src="../js/header.js"></script>
    <script type="module" src="../js/Calculator.js"></script>
    <script type="module" src="../js/footer.js"></script>
    <script type="module" src="../js/script.js"></script>
</body>

</html>